
@import './_partials/_variables.sass'
*
    margin: 0
    padding: 0
    box-sizing: border-box
    //font-family: 'Roboto Mono', monospace
::selection
    background: $azul
    color: $cinza-claro

body
    background: $cinza-claro
    display: flex
    flex-direction: column
    
html
    scroll-behavior: smooth

@import './_partials/_header.sass'
@import './_partials/_apresentacao.sass'
@import './_partials/_historico.sass'
@import './_partials/_portfolio.sass'
@import './_partials/_contato.sass'