$rosa: #ff548f
$roxo: #9061c2
$roxo-claro: #be80ff
$azul-claro: #63d3ff
$azul: #0045da
$cinza-claro: #fefefe
$cinza-escuro: #333
$screen-medio: 900px
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    //font-family: 'Roboto Mono', monospace

body
    background: $cinza-claro
    display: flex
    flex-direction: column

.menu
    display: flex
    justify-content: flex-start
    width: 100%
    padding-top: .5em

    ul
        display: flex
        

    li
        list-style: none
        
        a
            text-decoration: none
            padding: 0 .5em
            font-family: 'Times new Roman'
            position: relative
            font-size: 1.5em
            font-weight: 600
            color: #000

            &.ativo
                color:$azul
            

            &::before
                content: attr(data-text)
                position: absolute
                color: $azul
                width: 0
                overflow: hidden
                transition: 1s

            &:hover
                cursor: pointer
                &::before
                    width: 100%
section
    width: 100%
    min-height: 100vh
    padding: .5em 0 .5em 2em
.principal
    position: relative
    display: grid
    grid-template-columns: 1fr 1fr
    justify-content: space-between
    
    .descricao
        h1
            text-align: center
            padding-top: 3em
            margin-bottom: 1em
            font-family: 'Merriweather Sans', sans-serif
            font-size: 3em
            text-shadow: 0 0 1px $azul-claro

    .ondas
        display: flex
        flex-direction: column
        align-content: stretch
        justify-content: flex-start

        .imagem
            background-color: $azul
            display: flex
            height: 100%
            flex-direction: column
            justify-content: center
            align-content: center
            align-items: center
            padding:0 2em
            border-radius: 100% 0% 69% 31% / 61% 100% 0% 39%
                
            .borda-img
                position: relative
                height: 18em
                width: 18em
                background: $azul
                display: flex
                align-items: center
                justify-content: center
                border-radius: 50%
                overflow: hidden
                margin-top: 5em
                
                &::before
                    content: ''
                    position: absolute
                    inset: -2em 6em
                    background: linear-gradient(100deg, $rosa, $roxo-claro)
                    animation: rodar 4s linear infinite
                    transition: .5s    

                &:hover
                    &::before
                        inset: -1em
                
                &::after
                    content: ''
                    position: absolute
                    inset: .5em
                    border-radius: 50%
                    background: $azul
                    z-index: 1

                img
                    position: absolute
                    width: 96%
                    border-radius: 50%
                    z-index: 3  
            .redes-sociais
                margin: .5em 0 .3em 0
                font-size: 3em
                width: 80%
                display: flex
                justify-content: space-evenly
                
                
                a
                    text-decoration: none
                    color: #fff
                    margin: 0
                    padding: 0
                
                    ion-icon
                        &:hover
                            transform: scale(1.5)
        svg
            display: none
        
@keyframes rodar
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

.cursos
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
    flex-direction: row
    padding: 1em 0 0 1em
    align-content: flex-start
    transition: .5s

    .card
        position: relative

        .face
            width: 20em
            display: block
            padding: 1.2em 0
            min-height: 30vh

        .face1
            position: relative
            background: $cinza-claro
            border: 1px solid $cinza-escuro
            display: flex
            justify-content: center
            align-items: center
            z-index: 1
            transform: translateY(15vh)
            transition: 1s

            .conteudo
                opacity: .6
                transition: .5s
                display: flex
                flex-direction: column
                align-items: center
        
                h3
                    width: 100%
                    color: $cinza-escuro
                    font-size: 1.5em
                    font-weight: 600
                    text-align: center
                    padding-top: .5em
                    transition: 1s
                
                ion-icon
                    font-size: 4em

        .texto_card
            position: relative
            background: $cinza-claro
            display: flex
            justify-content: flex-start
            align-items: center
            flex-direction: column
            padding: 1.5em
            box-sizing: border-box
            box-shadow: 0 20px 50px rgba(0, 0, 0, .8)
            transform: translateY(-15vh)
            transition: 1s
            //top: 2em
            

            .conteudo
                p
                    width: 100%
                    display: none

            a
                margin: 1em 0
                display: inline-block
                text-decoration: none
                font-weight: 900
                color: $cinza-escuro
                font-family: "times new roman"
                padding: .8em
                border: 1px solid $cinza-escuro
                &:hover
                    color:$cinza-claro
                    background: $cinza-escuro  
                    box-shadow: 0 0 5px $rosa, 0 0 10px $rosa, 0 0 15px $rosa  
        img
            max-width: 30%

        &:hover
            .face1
                background: $rosa
                transform: translateY(0)

                .conteudo
                    opacity: 1

                    h3
                        letter-spacing: 3px
        &:hover
            .texto_card
                transform: translateY(0)
                display: block
                animation-iteration-count: 1
                //top: -1em
                
                .conteudo
                    width: 100%

                    p
                        width: 100%
                        display: block



@media screen and (max-width: $screen-medio) 
    section
        padding: 0
    .principal
        display: flex
        flex-direction: column-reverse

        .descricao
            margin-top: 1em

            h1
                padding: 0 1em .5em 1em
                margin: 0
            p
                padding: 1em
            

        .ondas
            .imagem
                background-color: $azul
                display: flex
                justify-content: space-around
                align-content: center
                align-items: center
                padding: 1em 2em 0 2em
                border-radius: 0
                .borda-img
                    z-index: 2
                    margin-top: 0
                    img
                        position: absolute
            svg
                display: block
                width: 100%
                transform: translateY(-1px)
                path
                    
                    z-index: 1

    .cursos
        .card
            .texto_card
                animation: deslizar_celular 2s linear infinite

@keyframes deslizar_celular  
    0%
        transform: translateY(-15vh)
    50%
        transform: translateY(-12vh)
    100%
        transform: translateY(-15vh)