* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fefefe;
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-top: 0.5em;
}
.menu ul {
  display: flex;
}
.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  padding: 0 0.5em;
  font-family: "Times new Roman";
  position: relative;
  font-size: 1.5em;
  font-weight: 600;
  color: #000;
}
.menu li a.ativo {
  color: #0045da;
}
.menu li a::before {
  content: attr(data-text);
  position: absolute;
  color: #0045da;
  width: 0;
  overflow: hidden;
  transition: 1s;
}
.menu li a:hover {
  cursor: pointer;
}
.menu li a:hover::before {
  width: 100%;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 0.5em 0 0.5em 2em;
}

.principal {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.principal .descricao h1 {
  text-align: center;
  padding-top: 3em;
  margin-bottom: 1em;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 3em;
  text-shadow: 0 0 1px #63d3ff;
}
.principal .ondas {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
}
.principal .ondas .imagem {
  background-color: #0045da;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 2em;
  border-radius: 100% 0% 69% 31%/61% 100% 0% 39%;
}
.principal .ondas .imagem .borda-img {
  position: relative;
  height: 18em;
  width: 18em;
  background: #0045da;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 5em;
}
.principal .ondas .imagem .borda-img::before {
  content: "";
  position: absolute;
  inset: -2em 6em;
  background: linear-gradient(100deg, #ff548f, #be80ff);
  animation: rodar 4s linear infinite;
  transition: 0.5s;
}
.principal .ondas .imagem .borda-img:hover::before {
  inset: -1em;
}
.principal .ondas .imagem .borda-img::after {
  content: "";
  position: absolute;
  inset: 0.5em;
  border-radius: 50%;
  background: #0045da;
  z-index: 1;
}
.principal .ondas .imagem .borda-img img {
  position: absolute;
  width: 96%;
  border-radius: 50%;
  z-index: 3;
}
.principal .ondas .imagem .redes-sociais {
  margin: 0.5em 0 0.3em 0;
  font-size: 3em;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.principal .ondas .imagem .redes-sociais a {
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}
.principal .ondas .imagem .redes-sociais a ion-icon:hover {
  transform: scale(1.5);
}
.principal .ondas svg {
  display: none;
}

@keyframes rodar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cursos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1em 0 0 1em;
  align-content: flex-start;
  transition: 0.5s;
}
.cursos .card {
  position: relative;
}
.cursos .card .face {
  width: 20em;
  display: block;
  padding: 1.2em 0;
  min-height: 30vh;
}
.cursos .card .face1 {
  position: relative;
  background: #fefefe;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(15vh);
  transition: 1s;
}
.cursos .card .face1 .conteudo {
  opacity: 0.6;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cursos .card .face1 .conteudo h3 {
  width: 100%;
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  padding-top: 0.5em;
  transition: 1s;
}
.cursos .card .face1 .conteudo ion-icon {
  font-size: 4em;
}
.cursos .card .texto_card {
  position: relative;
  background: #fefefe;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-15vh);
  transition: 1s;
}
.cursos .card .texto_card .conteudo p {
  width: 100%;
  display: none;
}
.cursos .card .texto_card a {
  margin: 1em 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  font-family: "times new roman";
  padding: 0.8em;
  border: 1px solid #333;
}
.cursos .card .texto_card a:hover {
  color: #fefefe;
  background: #333;
  box-shadow: 0 0 5px #ff548f, 0 0 10px #ff548f, 0 0 15px #ff548f;
}
.cursos .card img {
  max-width: 30%;
}
.cursos .card:hover .face1 {
  background: #ff548f;
  transform: translateY(0);
}
.cursos .card:hover .face1 .conteudo {
  opacity: 1;
}
.cursos .card:hover .face1 .conteudo h3 {
  letter-spacing: 3px;
}
.cursos .card:hover .texto_card {
  transform: translateY(0);
  display: block;
  animation-iteration-count: 1;
}
.cursos .card:hover .texto_card .conteudo {
  width: 100%;
}
.cursos .card:hover .texto_card .conteudo p {
  width: 100%;
  display: block;
}

@media screen and (max-width: 900px) {
  section {
    padding: 0;
    min-height: 0;
    height: auto;
  }

  .principal {
    display: flex;
    flex-direction: column-reverse;
  }
  .principal .descricao {
    margin-top: 1em;
  }
  .principal .descricao h1 {
    padding: 0 1em 0.5em 1em;
    margin: 0;
  }
  .principal .descricao p {
    padding: 1em;
  }
  .principal .ondas .imagem {
    background-color: #0045da;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 1em 2em 0 2em;
    border-radius: 0;
  }
  .principal .ondas .imagem .borda-img {
    z-index: 2;
    margin-top: 0;
  }
  .principal .ondas .imagem .borda-img img {
    position: absolute;
  }
  .principal .ondas svg {
    display: block;
    width: 100%;
    transform: translateY(-1px);
  }
  .principal .ondas svg path {
    z-index: 1;
  }

  .cursos .card .face1 {
    transform: translateY(0vh);
    margin-top: 1em;
    background: #ff548f;
  }
  .cursos .card .texto_card {
    transform: translateY(0vh);
    border: 1px solid #000;
  }
  .cursos .card .texto_card .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: auto;
  }
  .cursos .card .texto_card .conteudo p {
    display: block;
  }
  .cursos .card .texto_card .conteudo a {
    width: fit-content;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=estilo.css.map */
